<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Book Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/about">About</a>
      </div>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="/users/login" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="/users/register" class="nav-link">Register</a>
        </li>

        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Book Store</a>
          <div class="dropdown-menu">
            <a href="/books" class="dropdown-item">Books</a>
            <a href="/books/add" class="dropdown-item">Add to Book Store</a>
          </div>
        </li>
        
        <li class="nav-item">
          <a href="/users/logout" class="nav-link">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>