<div class="jumbotron alert alert-info text-center">
  <h1 class="display-3"> {{title}}</h1>

  <p class="lead">Add your Books in the bookstore for a better Market</p>
  <a href="/books/add" class="btn btn-primary">Add your Book</a>
</div>